vrrp_script chk_haproxy {
	script "pidof haproxy"
	interval 5
}

vrrp_instance V1_1 {
	interface {{ vip_interface }} 
	state {{ vrrp_state }} 
	virtual_router_id {{ router_id }}
{% if vrrp_state == 'MASTER' %}
	priority 101
{% elif vrrp_state == 'BACKUP' %}
	primority 100
{% endif %}
	virtual_ipaddress {
		{% for value in vip_addresses -%}
		{{ value }}
		{% endfor %}
	}
	track_script {
		chk_haproxy 
	}
}
